.editable-select {
	.text-container {
		padding: 5px 10px;
		margin-bottom: 15px;

		&:hover {
			background-color: rgba(204, 204, 204, 0.5);
			cursor: pointer;
		}
	}

	.select-container {
		.input-group-addon {
			padding: 2px 12px;
		}
	}
}