.editable-text {
	.text-container {
		padding: 5px 10px;
		margin-bottom: 15px;

		&:hover {
			background-color: rgba(204, 204, 204, 0.5);
		}
	}

	.input-container {
		.ok-button-container {
			line-height: 26px;
		}
	}
}